:root {
	/* color */
	--color-black: #3f454d;
	--color-white: #ffffff;
	--color-blue: #3b88c3;
	--color-yellow: #fbbe28;
	--color-pink: #fd7f84;
	--color-light-grey: #dfdfdf;

	/* size */
	--size-button: 60px;
	--base-space: 8px;
	--font-size: 18px;
	--size-border: 4px;
	--size-thumbnail: 55px;

	/* animation */
	--animation-duration: 300ms;
}

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	/* 절대 기준(width, height)이 없으면 space-around, space-between, flex-end 등 모두 제대로 셋팅되지 않음.
  시작점 및 기준이 없기 때문. %는 상대비율이기 때문에 기준이 되지 못한다. */
	background-color: var(--color-black);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav__menu {
	/* button 모임 */
	display: flex;
	align-items: center;
}

.btn {
	background-color: transparent;
	border-radius: 0.2em;
	border: none;
	outline: none;
	cursor: pointer;
	margin-right: var(--base-space);
}
/* 마우스 올렸을 때 커지는 애니메이션 효과 */
.btn:hover,
.nav__logo:hover {
	cursor: pointer;
	transform: scale(1.1);
	transition: transform var(--animation-duration) ease;
}

.imgBtn {
	width: var(--size-button);
	height: var(--size-button);
}
.textBtn {
	font-size: var(--font-size);
	padding: calc(var(--base-space) * 2);
	border-radius: var(--size-border);
}

.btn-blue {
	background-color: var(--color-blue);
}
.btn-yellow {
	background-color: var(--color-yellow);
}
.btn-pink {
	background-color: var(--color-pink);
}

.list {
	width: 60%;
	height: 60%;
	list-style: none;
	padding-left: 0;
	/* overflow: auto; */
	overflow-y: scroll;
}

.list__item {
	background-color: var(--color-white);
	display: flex;
	align-items: center;
	padding: var(--base-space);
	margin-bottom: var(--base-space);
}
.list__item-thumbnail {
	width: var(--size-thumbnail);
	height: var(--size-thumbnail);
}
.list__item-detail {
	margin-left: var(--base-space);
	font-size: var(--font-size);
}
.invisible {
	display: none;
}
